* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: url(./images/frame.png) no-repeat center/cover;
  height: 90vh;
  width: 900px;
}
