:root {
  --main-text-color: #1b48c6;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Signika Negative', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.title-rock {
  color: #fdcf02;
}

.title-paper {
  color: #21cfcb;
}

.title-scissors {
  color: #ff6230;
}

.title-dash {
  color: var(--main-text-color);
}

h1 {
  font-size: clamp(1.5rem, -0.375rem + 5vw, 3rem);
  text-align: center;
  margin-bottom: 0.5em;
}

.game-container {
  display: flex;
}

.play-arena {
  width: 40vw;
  height: 40vw;
  max-width: 700px;
  max-height: 700px;
  background: url(./images/frame.png) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro,
.restart-game {
  margin-bottom: 2em;
}

.restart-game {
  font-size: clamp(0.5rem, -0.3rem + 2vw, 1.25rem);
  font-weight: bold;
  padding: 0.5em;
  color: white;
  background-color: black;
  display: none;
  max-width: ;
}

.btn {
  border-radius: 200px;
  overflow: hidden;
  width: 6vw;
  height: 6vw;
  max-height: 90px;
  max-width: 90px;
}

.rock-bg {
  background: url(./images/rock.png) no-repeat center/cover;
}

.paper-bg {
  background: url(./images/paper.png) no-repeat center/cover;
}

.scissors-bg {
  background: url(./images/scissors.png) no-repeat center/cover;
}

button {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

.human .btn:hover,
.restart-game:hover {
  transform: scale(1.1);
}

.choices {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

h2,
h3,
h4 {
  color: var(--main-text-color);
}

h2 {
  font-size: clamp(0.75rem, 0.25rem + 1.4286vw, 2rem);
}

h3 {
  font-size: clamp(0.75rem, -0.25rem + 2.25vw, 1.85rem);
}

h4 {
  font-size: clamp(1rem, -0.25rem + 4vw, 2rem);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 48%;
}

.score {
  height: 15%;
}

.text {
  text-transform: uppercase;
}

#choice-container {
  display: flex;
  justify-content: space-around;
  width: 96%;
}

.choice-wrapper {
  width: 42%;
  object-fit: contain;
  overflow: hidden;
}

.choice-wrapper img {
  width: 100%;
}

@media (max-width: 700px) {
  .game-container {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    margin-bottom: 2em;
  }

  .play-arena {
    width: 75vw;
    height: 75vw;
  }

  .choices {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .buttons {
    width: 60%;
    flex-direction: row;
    justify-content: space-around;
  }

  .btn {
    height: 10vw;
    width: 10vw;
  }
}
